<!-- Header -->
<header id="header">
  <h1><a href="{{ site.baseurl }}/">{{ site.foundation_name }}</a></h1>
  <nav id="nav">
    <ul>
      <li>
        <a class="icon fa-angle-down">About</a>
        <ul>
          <li><a href="{{ site.baseurl }}/letter/">Welcome Letter</a></li>
          <li><a href="{{ site.baseurl }}/about/">Elizabeth F. Cheney</a></li>
          <li><a href="{{ site.baseurl }}/board-of-directors/">Board of Directors</a></li>
          <li><a href="{{ site.baseurl }}/annual-reports/">Annual Reports</a></li>
          <!--li>
            <a href="#">Submenu</a>
            <ul>
              <li><a href="#">Link 1</a></li>
              <li><a href="#">Link 2</a></li>
              <li><a href="#">Link 3</a></li>
              <li><a href="#">Link 4</a></li>
            </ul>
          </li-->
        </ul>
      </li>
      <li><a href="{{ site.baseurl }}/grant-recipients/">Grant Recipients</a></li>
      <li><a href="{{ site.baseurl }}/guidelines/">Guidelines &amp; Applications</a></li>
      <li><a href="{{ site.baseurl }}/contact/">Contact</a></li>
    </ul>
  </nav>
</header>
